<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TypingCombo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TypingCombo.Properties.Settings>
            <setting name="WindowLeft" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="SelectedPreset" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="SelectedFrontSet" serializeAs="String">
                <value>TimesNewRoman</value>
            </setting>
            <setting name="ComboWindowOpen" serializeAs="String">
                <value>False</value>
            </setting>
        </TypingCombo.Properties.Settings>
    </userSettings>
</configuration>